.bg {
  background-image: url("../../../assets/bg.jpg");
  background-size: cover;
}

.noscroll::-webkit-scrollbar {
  display: none;
}

.noscroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

